body{
    margin: 0;
}

.card{
    width: 500px; 
    height: 200px; 
    background-color:azure; 
    border: 5px solid black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

img{
    height: 100%;
    width: 100%;
}

.text{
    font-family: monospace;
}

.main-color{
    color:black;
    font-weight: bold;
}

.title{
    font-size: 30px;
}