body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    border-bottom: 3px solid #32c9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.titulo {
    color: #32c9cd;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

/* BANNER */
.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url(bg-jelly-fish-para_outras_pags.png);

}

/* CTL espaço */
.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 36px;
    width: 25%;
}

.banner.container p span {
font-weight: bold;

}
.social{
    background-color: white;
    padding: 40px 0;
}
.card{
    width: 150px;
    text-align: center;
    
}
.card img{
    width: 100px;
    margin-top: 15px;
}
.card h4{
    font-size: 24px;
}
.footer{
    height: 100px;
    background-color: #32c9cd;
}
.footer .container{
    justify-content: center;
    align-items: center;
    height: 100px;
}